# Исключаем виртуальное окружение
.venv/
venv/
__pycache__/

# Исключаем файлы IDE
.idea/
*.iml

# Исключаем локальные базы данных и кэш
*.db
*.db-journal
*.sqlite3

# Исключаем файлы с переменными окружения (если бы они были)
.env
